ion-content.background{
    --background: url(../../assets/splashscreen/Splash-button.png) 0 0/100% 100% no-repeat;
}

#login-button-div {

    position: relative;
    width:200px;
    margin:auto;
    margin-top:50vh;

}

#register-button-div {

    position: relative;
    width:200px;
    margin:auto;
    margin-top:50vh;

}