<ion-content>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="50" class="ion-padding-top">
        <ion-label class="font">
          <h1><b>Register</b></h1>
        </ion-label>
      </ion-col>
    </ion-row>
      
    <ion-row class="ion-justify-content-center">
      <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">

        <ion-item class="bordered ion-margin-top">
          <ion-label position="floating">First Name</ion-label>
          <ion-input type="text" formControlName="firstName"></ion-input>
        </ion-item>

        <ion-item class="bordered ion-margin-top">
          <ion-label position="floating">Last Name</ion-label>
          <ion-input type="text" value="" formControlName="lastName"></ion-input>
        </ion-item>

        <ion-item class="bordered ion-margin-top">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item class="bordered ion-margin-top">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item class="bordered ion-margin-top">
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="password" formControlName="confirmPassword"></ion-input>
        </ion-item>

        <ion-item lines="none" class="ion-margin-top">
          <ion-checkbox formControlName="checkbox" class="ion-margin-end" color="primary"></ion-checkbox>
          <p>I agree to all terms and condition</p>
        </ion-item>

        <ion-row class="ion-justify-content-center ion-margin-top">
          <ion-col size="10" size-sm="6">
            <ion-button type="submit" color="primary" expand="block" [disabled]="!registerForm.valid">Register</ion-button>
          </ion-col>
        </ion-row>
      </form>
      <ion-label>
        <p class="ion-text-center">
          or login 
          <a href="/login" >
            here
          </a>
        </p>
     </ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
